.home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home-page .div {
    background-color: #ffffff;
    height: 932px;
    overflow: hidden;
    position: relative;
    width: 430px;
}

.home-page .overlap {
    background-color: #ecece9;
    border-radius: 22px;
    height: 139px;
    left: 0;
    position: absolute;
    top: -39px;
    width: 430px;
}

.home-page .group {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgb(186, 223, 231) 100%);
    border-radius: 36.5px;
    height: 73px;
    left: 178px;
    position: absolute;
    top: 53px;
    width: 73px;
}

.home-page .logo-group {
    height: 59px;
    left: 9px;
    position: absolute;
    top: 7px;
    width: 51px;
}


.home-page .rectangle-tasks {
   
    border-radius: 24px;
    height: 185px;
    left: 51px;
    position: absolute;
    top: 215px;
    width: 328px;
}


.home-page .history-text {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 10px;
    font-weight: 400;
    left: 33px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.home-page .home-text {
    color: #388087;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 133px;
    letter-spacing: 3.25px;
    line-height: normal;
    position: absolute;
    top: 133px;
}

.button-container .button,
.button-container a.button,
.button-container button,
.button-container nav li,
.button-container [type=submit],
.button-container [type=reset],
.button-container [type=button] {
  display: inline-block;
  border: 1px solid #fff; 
  border-radius: 10px;
  background: #6fb3b8; /* White background for buttons */
  color: white; /* Dark text color for buttons */
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  bottom: 20px;
  position: relative;
  top: 10px;
}

.button-container .button:hover,
.button-container a.button:hover,
.button-container button:hover,
.button-container nav li:hover,
.button-container [type=submit]:hover,
.button-container [type=reset]:hover,
.button-container [type=button]:hover {
  border: 1px solid #ddd; /* Lighter border on hover */
  background: #ffe78b; /* Lighter background on hover */
}

.poll-options-container {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    gap: 40px; 
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll-delete {
    width: 100%; 
    text-align: center;
}

nav li:hover, 
.button-container button:hover{
  background-color: #008080;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

input{
background-color: #008080;
border-color: #008080;
color: #264447;
border-style: double;
border-radius: 8px;
margin-bottom: 30px;
width: 300px;
}

table{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 30px;
}

.box-container{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* padding-bottom: 30px; */
}

.chore-box{
background-color: #badfe7;
width: 300px;
height: fit-content;
border-radius: 15px;
border-style: solid;
border-width: 1px;
border-color: #fff;
margin-top: 15px;
margin-bottom: 15px;
padding-top: 15px;
padding-left: 15px;

display: flex;
flex-direction: column;
align-items: center;
justify-content: space-evenly;
/* padding-left: 60px; */
}
  
.chore-box div{
margin-bottom: 10px;
text-align: center;
}
  
