.post-something {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.post-something .div {
    background-color: #ffffff;
    height: 932px;
    overflow: hidden;
    position: relative;
    width: 430px;
}

/* entire thing*/ 
.post-something .overlap {
    background-color: #badfe7;
    height: 265px;
    left: 15px;
    position: absolute;
    top: 319px;
    width: 401px;
}
 /* assigned to: text */ 
.post-something .overlap-group {
    height: 32px;
    left: 19px;
    position: absolute;
    top: 130px;
    width: 355px;
}


.post-something .rectangle-2 {
    background-color: #f2fbe0;
    border-radius: 49px;
    height: 32px;
    left: 86px;
    position: absolute;
    top: 36px;
    width: 290px;
}



/* date field*/ 
.post-something .rectangle-3 {
    background-color: #f2fbe0;
    border-radius: 49px;
    height: 35px;
    left: 149px;
    position: absolute;
    top: 80px;
    width: 206px;
}

/* assigned to */
.post-something .text-wrapper {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 3px;
    width: 170px;
}


/* task */
.post-something .text-wrapper-3 {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 40px;
    width: 59px;
}

/* due date text */ 
.post-something .text-wrapper-4 {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 85px;
    width: 103px;
}

/* entire group*/ 
.post-something .overlap-2 {
    background-color: #badfe7;
    height: 217px;
    left: 19px;
    position: absolute;
    top: 652px;
    width: 401px;
}

/* title, option 1, option 2 text*/ 

.post-something .text-wrapper-5 {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 24px;
    white-space: nowrap;
}

.post-something .text-wrapper-6 {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 71px;
    white-space: nowrap;
}

.post-something .text-wrapper-7 {
    color: #388087;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 117px;
    white-space: nowrap;
}

/* title*/ 
.post-something .rectangle-4 {
    background-color: #f2fbe0;
    border-radius: 49px;
    height: 32px;
    left: 97px;
    position: absolute;
    top: 22px;
    width: 273px;
}

/* option 1*/ 
.post-something .rectangle-5 {
    background-color: #f2fbe0;
    border-radius: 49px;
    height: 32px;
    left: 124px;
    position: absolute;
    top: 68px;
    width: 246px;
}

/* option 2  */ 
.post-something .rectangle-6 {
    background-color: #f2fbe0;
    border-radius: 49px;
    height: 32px;
    left: 124px;
    position: absolute;
    top: 114px;
    width: 246px;
}

/* 2nd post button positioning*/ 
.post-something .overlap-wrapper {
    height: 37px;
    left: 122px;
    position: absolute;
    top: 164px;
    width: 149px;
}

/* "+" positioning */
.post-something .overlap-3 {
    height: 36px;
    left: 370px;
    position: absolute;
    top: 132px;
    width: 21px;
}

.post-something .ellipse {
    background-color: #f2fbe0;
    border-radius: 10.5px;
    height: 21px;
    left: 0;
    position: absolute;
    top: 11px;
    width: 21px;
}

.post-something .text-wrapper-8 {
    color: #6fb3b8;
    font-family: "Inter-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

/* top rectangle */
.post-something .overlap-4 {
    height: 351px;
    left: 0;
    position: absolute;
    top: -39px;
    width: 432px;
}

/* task text */
.post-something .text-wrapper-9 {
    -webkit-text-stroke: 0.3px #388087;
    color: #ffe78b;
    font-family: "Inter-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    left: 164px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 303px;
    white-space: nowrap;
}

.post-something .rectangle-7 {
    background-color: #ecece9;
    border-radius: 22px;
    height: 139px;
    left: 0;
    position: absolute;
    top: 0;
    width: 430px;
}

.post-something .logo-group-wrapper {
    background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgb(186, 223, 231) 100%);
    border-radius: 36.5px;
    height: 73px;
    left: 178px;
    position: absolute;
    top: 53px;
    width: 73px;
}

.post-something .logo-group {
    height: 59px;
    left: 9px;
    position: absolute;
    top: 7px;
    width: 51px;
}

.post-something .ellipse-2 {
    background-color: #f2fbe0;
    border: 1px solid;
    border-color: #388087;
    border-radius: 16px;
    height: 32px;
    left: 387px;
    position: absolute;
    top: 53px;
    width: 32px;
}

.post-something .vector {
    height: 20px;
    left: 393px;
    position: absolute;
    top: 59px;
    width: 19px;
}

/* POST SOMETHING GROUP */
.post-something .overlap-group-wrapper {
    height: 241px;
    left: 31px;
    position: absolute;
    top: 97px;
    width: 401px;
}

.post-something .overlap-group-2 {
    height: 241px;
    position: relative;
    width: 397px;
}

/* POST SOMETHING */
.post-something .POST-SOMETHING {
    color: #388087;
    font-family: "Inter-Bold", Helvetica;
    font-size: 50px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 77px;
}

/* ! */
.post-something .text-wrapper-10 {
    color: #ffe78b;
    font-family: "Inter-Bold", Helvetica;
    font-size: 200px;
    font-weight: 700;
    left: 274px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    transform: rotate(-30.88deg);
}

/* Poll text  */
.post-something .text-wrapper-11 {
    -webkit-text-stroke: 0.3px #388087;
    color: #ffe78b;
    font-family: "Inter-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    left: 162px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 603px;
    white-space: nowrap;
}

.button,
a.button,
button,
nav li,
[type=submit],
[type=reset],
[type=button] {
  display: inline-block;
  border: 1px solid #fff; 
  border-radius: 10px;
  background: #6fb3b8; /* White background for buttons */
  color: white; /* Dark text color for buttons */
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  bottom: 20px;
  position: relative;
  /* top: 200px; */
}

.button:hover,
a.button:hover,
button:hover,
nav li:hover,
[type=submit]:hover,
[type=reset]:hover,
[type=button]:hover {
  border: 1px solid #ddd; /* Lighter border on hover */
  background: #ffe78b; /* Lighter background on hover */
}

